*, :after, :before {
    box-sizing: border-box;
    margin: 0;
}
*, :after, :before, legend, td, th {
    padding: 0;
}
html {
    line-height: 1.15;
}
button {
    overflow: visible;
    background-color: transparent;
    border: none;
}
.main>div {
    padding-top: 50px;
}
.order-sheet-frame {
    width: 1050px;
    padding: 60px 0;
    margin: 0 auto;
}
.order-sheet-frame h2 {
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.5px;
}
.order-sheet-text {
    padding-bottom: 48px;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
}
.order-sheet-second-frame {
    letter-spacing: -0.5px;
}
.order-goods-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #333;
}
.order-goods-title>h3 {
    padding: 16px 0;
    font-weight: 500;
    font-size: 20px;
    color: #333;
    line-height: 29px;
}
.goods-list-down {
    border: 0;
    background: none;
    outline: none;
}
/* 트랜지션으로 클릭시 180도 회전 */
.goods-list-down i {
    width: 30px;
    height: 30px;
}
.order-goods-list {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    padding: 25px 0px;
    border-bottom: 1px solid rgb(244, 244, 244);
}
.goods-image {
    display: inline-flex;
    width: 60px;
    height: 78px;
    background-image: url(../컬리이미지/채소/vegetable6.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.goods-text-frame {
    overflow: hidden;
    width: 720px;
    padding: 0px 20px;
    flex: 1 1 0%;
}
.goods text {
    overflow: hidden;
    max-height: 48px;
    font-size: 16px;
    line-height: 24px;
    color: rgb(0, 0, 0);
    text-overflow: ellipsis;
}
.goods-count {
    width: 100px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
}
.goods-price {
    width: 126px;
    text-align: right;
}
.orderer-information-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    border-bottom: 1px solid #333;
}
.orderer-information-title>h3 {
    padding: 16px 0;
    font-weight: 500;
    font-size: 20px;
    color: #333;
    line-height: 29px;
}

.orderer-information-frame {
    padding: 10px 0px;
}
.orderer-information-list-frame {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 8px 0px;
}
.orderer-information-list-frame>span {
    line-height: 24px;
}
.list-title {
    display: inline-block;
    width: 160px;
    margin-right: 30px;
    font-weight: 500;
    font-size: 14px;
    color: #333;
    letter-spacing: -0.32px;
    vertical-align: top;
}
.orderer-frame {
    flex: 1;
}
.orderer-text {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    line-height: 24px;
}
.email-detail-text {
    margin-top: 10px;
}
.email-detail-text>p {
    font-size: 12px;
    line-height: 21px;
    color: rgb(102, 102, 102);
}

.shipping-information-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    border-bottom: 1px solid #333;
}
.shipping-information-title>h3 {
    padding: 16px 0;
    font-weight: 500;
    font-size: 20px;
    color: #333;
    line-height: 29px;
}
.change-shipping-address {
    position: relative;
}
.change-shipping-address>a {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: rgb(153, 153, 153);
    text-align: right;
    cursor: pointer;
}
.shipping-address-frame {
    border-bottom: 1px solid rgb(244, 244, 244);
}
.shipping-address {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.shipping-address-title {
    display: inline-block;
    width: 160px;
    margin-right: 30px;
    font-weight: 500;
    font-size: 14px;    
    line-height: 24px;
    color: #333;
    letter-spacing: -0.32px;
    vertical-align: top;
}
.shipping-address-text {
    flex: 1;
}
.shipping-address-text>span {
    display: inline-block;
    height: 22px;
    padding: 0px 8px;
    margin-bottom: 8px;
    border-radius: 11px;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    color: rgb(102, 102, 102);
    background-color: rgb(247, 247, 247);
    vertical-align: top;
}
.shipping-address-text>p {
    display: block;
    font-size: 14px;
    line-height: 24px;
    color: rgb(51, 51, 51);
}
.more-information {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.more-information-title {
    display: inline-block;
    width: 160px;
    margin-right: 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #333;
    letter-spacing: -0.32px;
    vertical-align: top;
}
.more-information-text {
    flex: 1;
}
.more-information-text>p {
    color: rgb(240, 63, 64);
    font-size: 14px;
    line-height: 24px;
}
.input-btn-frame {
    margin-top: 20px;
}
.input-btn {
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 60px;
    height: 30px;
    border-radius: 3px;
    color: rgb(95, 0, 128);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(95, 0, 128);
}
.input-btn>span {
    font-size: 12px;
    line-height: 28px;
    font-weight: 500;
}
.calculation-payment-frame {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.calculation-all-frame {
    width: 742px;
}
.coupon-frame {
    margin-top: 60px;
}
.coupon-frame>h3 {
    padding: 16px 0;
    font-weight: 500;
    font-size: 20px;
    color: #333;
    line-height: 29px;
}
.coupon-apply {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.coupon-apply>span {
    display: inline-block;
    width: 160px;
    margin-right: 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 44px;
    color: #333;
    letter-spacing: -0.32px;
    vertical-align: top;
}
.coupon-possession-frame {
    flex: 1;
}
.coupon-possession {
    position: relative;
    margin-bottom: 10px;
}
.coupon-possession-btn {
    position: relative;
    width: 100%;
    height: 44px;
    padding: 0 54px 0 16px;
    border: 1px solid #ddd;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    background: #fafafa;
    color: #ccc;
}
.coupon-possession-btn>span {
    position: absolute;
    top: 10px;
    right: 16px;
}
.coupon-possession-btn>span>i {
    display: inline-block;
    width: 12px;
    height: 8px;
}
.coupon-use-inquiry-btn{
    color: #5f0080;
    font-size: 12px;
}
.coupon-use-inquiry-btn>span {
    display: flex;
    align-items: center;
}
.coupon-use-inquiry-btn>span>i {
    display: inline-block;
    width: 6px;
    height: 9px;
    margin-left: 4px;
}
.reserves {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-top: 1px solid #f4f4f4;
}
.reserves>span {
    display: inline-block;
    width: 160px;
    margin-right: 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 44px;
    color: #333;
    letter-spacing: -0.32px;
    vertical-align: top;
}
.reserves-frame {
    flex: 1;
}
.remaining-deposit {
    display: flex;
}
.reserves-input-frame {
    width: 168px;
    margin-right: 8px;
    padding-bottom: 0;
}
.reserves-text {
    position: relative;
    height: 44px;
}
.reserves-text>input {
    border-radius: 3px;
    font-size: 14px;
    height: 44px;
    color: #ccc;
    background-color: #fafafa;
    width: 100%;
    padding: 0 11px 1px 15px;
    border: 1px solid #ddd;
    font-weight: 400;
    line-height: 42px;
    outline: none;
    box-sizing: border-box;
}
.reserves-use-btn {
    border-color: #ddd;
    color: #ddd;
    display: block;
    padding: 0 10px;
    text-align: center;
    overflow: hidden;
    width: 100px;
    height: 44px;
    border-radius: 3px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ddd;
}
.reserves-use-btn>span {
    font-size: 14px;
    font-weight: 500;
    border-radius: 3px;
    border-color: #ddd;
    color: #ddd;
}
.usable-points {
    margin-top: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #666;
}
.usable-points>strong {
    font-weight: bold;
    color: #333;
}
.deposit-history {
    margin-top: 16px;
    font-size: 12px;
    line-height: 18px;
    color: #666;
}
.deposit-history>p {
    display: block;
}
.method-of-payment-frame {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    border-bottom: 1px solid rgb(51, 51, 51);
}
.method-of-payment-frame>h3 {
    padding: 16px 0px;
    font-weight: 500;
    font-size: 20px;
    color: rgb(51, 51, 51);
    line-height: 29px;
}
.payment-lable {
    padding: 14px 0px 9px;
    position: relative;
    display: flex;
    align-items: center;
    vertical-align: top;
    line-height: normal;
    color: rgb(51, 51, 51);
    font-size: 14px;
    letter-spacing: -0.055em;
}
.payment-lable>input {
    box-sizing: border-box;
    padding: 0;
    overflow: hidden;
    position: absolute;
    clip: rect(0px, 0px, 0px, 0px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
}
.payment-lable>img {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
}
.method-of-payment-choice {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}
.method-of-payment-choice>span {
    display: inline-block;
    width: 160px;
    margin-right: 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 44px;
    color: rgb(51, 51, 51);
    letter-spacing: -0.32px;
    vertical-align: top;
}
.payment-btn-frame {
    flex: 1 1 0%;
}
.payment-btn-frame-one {
    width: 414px;
}
.pay {
    display: flex;
}
.pay>button {
    position: relative;
    width: 100%;
    height: 48px;
    border: 1px solid rgb(246, 229, 0);
    font-size: 14px;
    color: rgb(255, 255, 255);
    background: rgb(246, 229, 0);
    font-weight: 500;
    border-radius: 3px;
}
.pay>button>img {
    vertical-align: bottom;
    width: 50px;
    height: 20px;
}
.payment-btn-area {
    margin-top: 12px;
    display: flex;
}
.payment-btn {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    position: relative;
    width: 100%;
    height: 48px;
    border: 1px solid rgb(226, 226, 226);
    font-size: 14px;
    font-weight: 500;
    border-radius: 3px;
}
.payment-btn>span {
    height: 16px;
    padding: 0px 6px;
    border: 1px solid rgb(250, 98, 47);
    border-radius: 9px;
    background-color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 10px;
    color: rgb(250, 98, 47);
    line-height: normal;
    white-space: nowrap;
    position: absolute;
    left: 9px;
    top: -7px;
}
.payment-information {
    border-top: 1px solid rgb(244, 244, 244);
    padding-top: 20px;
    font-size: 12px;
    line-height: 16px;
    color: rgb(102, 102, 102);
}
.payment-information li + li {
    padding-top: 4px;
}
.payment-pay-frame {
    position: relative;
    width: 284px;
}
.payment-pay-frame-one {
    padding-top: 60px;
    position: absolute;
    width: 284px;
    top: 0px;
}
.payment-pay-title {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}
.payment-pay-title>h3 {
    padding: 16px 0px;
    font-weight: 500;
    font-size: 20px;
    color: rgb(51, 51, 51);
    line-height: 29px;
}
.payment-pay {
    width: 100%;
    padding: 17px 16px 18px 18px;
    background: rgb(250, 250, 250);
    border: 1px solid rgb(242, 242, 242);
    letter-spacing: 0.1px;
}
.order-amount {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    font-size: 16px;
    color: rgb(51, 51, 51);
    padding-bottom: 8px;
}
.payment-pay-title1 {
    width: 96px;
}
.payment-pay-value>span {
    font-size: 18px;
}
.payment-pay-value span + span {
    margin-left: 4px;
    vertical-align: 1px;
}
.product-amount {
    display: flex;
    padding-left: 16px;
    margin-top: 8px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    font-size: 14px;
    color: rgb(153, 153, 153);
    background-image: url(https://res.kurly.com/mobile/service/common/2003/ico_sub_price_dot.png);
    background-repeat: no-repeat;
    background-size: 16px 20px;
    background-position: 0px 50%;
}
.payment-pay-title2 {
    width: 96px;
}
.payment-pay-value2>span {
    font-size: 14px;
}
.payment-pay-value2 span + span {
    margin-left: 4px;
    vertical-align: 1px;
}
.shipping-coupon-earn {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: 16px;
    font-size: 16px;
    color: rgb(51, 51, 51);
}
.final-payment {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: 16px;
    padding: 16px 0px 1px;
    border-top: 1px solid rgb(244, 244, 244);
    font-size: 16px;
    color: rgb(76, 76, 76);
}
.payment-pay-value-last>span {
    font-size: 22px;
    font-weight: bold;
}
.payment-pay-value-last span + span {
    margin-left: 4px;
    vertical-align: 1px;
}
.deposit-received {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 15px;
    font-size: 12px;
    color: rgb(102, 102, 102);
}
.deposit-received span {
    display: inline-block;
    margin-right: 4px;
    padding: 0px 7px;
    border-radius: 9px;
    background-color: rgb(255, 191, 0);
    font-size: 10px;
    line-height: 18px;
    height: 18px;
    color: rgb(255, 255, 255);
    font-weight: 500;
}
.deposit-received div {
    font-weight: 500;
    margin-left: 4px;
}
.privacy-frame {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    border-bottom: 1px solid rgb(51, 51, 51);
}
.privacy-frame h3 {
    padding: 16px 0px;
    font-weight: 500;
    font-size: 20px;
    color: rgb(51, 51, 51);
    line-height: 29px;
}
.privacy-btn-frame {
    padding: 20px 0px;
    border-bottom: 1px solid rgb(244, 244, 244);
}
.privacy-lable {
    position: relative;
    display: flex;
    align-items: center;
    vertical-align: top;
    line-height: normal;
    color: rgb(51, 51, 51);
    padding: 0px;
    font-weight: 500;
    font-size: 18px;
}
.privacy-lable>input {
    overflow: hidden;
    position: absolute;
    clip: rect(0px, 0px, 0px, 0px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
}
.privacy-lable>img {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 12px;
}
.privacy-child-btn-frame {
    padding-top: 16px;
}
.privacy-child-btn-frame p {
    font-size: 14px;
    line-height: 24px;
}
.privacy-child-btn-frame p span {
    display: inline-block;
    width: 310px;
    text-decoration: underline;
    cursor: pointer;
}




.privacy-child-lable {
    padding: 0px;
    font-weight: 500;
    font-size: 18px;
    text-decoration: underline;
    cursor: pointer;
}
.privacy-child-lable>input {
    overflow: hidden;
    position: absolute;
    clip: rect(0px, 0px, 0px, 0px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
}
.privacy-child-lable>img {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 12px;
}
.privacy-notice {
    padding: 20px 0px 0px 16px;
    font-size: 12px;
    line-height: 16px;
    color: rgb(102, 102, 102);
}
.payment-decision-frame {
    text-align: center;
}
.payment-decision-btn {
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 240px;
    height: 56px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: rgb(95, 0, 128);
    border: 0px none;
    margin: 40px auto 30px;
    font-weight: 500;
}
.payment-decision-btn span {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
}
.payment-decision-notice {
    font-size: 14px;
    line-height: 20px;
    color: rgb(102, 102, 102);
}

.payment-pay-frame-onetop{
    width: 284px;
    padding-top: 60px;
    position: sticky;
    top: 60px;
    right: 0px;
}