.area {
    width: 1050px;
    margin: 0 auto;
    text-align: center;
}
.view {
    width: 1050px;
    height: 100px;
    overflow: hidden;
    margin: 0 auto;
}
.rail-area {
    width: 2400px;
    overflow: hidden;
    position: relative;
}
.kurly-rail {
    width: 800px;
    float: left;
    animation-play-state: running;
    display: flex;
    height: 100%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: rail;
    animation-duration: 10s;
}

@keyframes rail {
    from {
        transform: translateX(0)
    }
    to {
        transform: translateX(-800px)
    }
}