@charset "utf-8";
.allloginform{
    min-width: 1050px;
    margin-top: 90px;
    margin-bottom: 60px;
    background-color: rgb(255, 255, 255);
}
.mainlogintext{
    font-weight: 800;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
}
.realloginform{
    width: 340px;
    margin: 0px auto;
    letter-spacing: -0.6px;
}
.inputspace{
    margin-top: 30px;
}
.bigidinput:first-of-type{
    margin-bottom: 5px;
}
.bigidinput{
    margin-bottom: 5px;
}
.smallactualinput{
    position: relative;
    height: 48px;
}
.bigidinput input{
    height: 54px;
    font-size: 14px;
}
.inputhint{
    width: 100%;
    height: 46px;
    padding: 0px 11px 1px 15px;
    border-radius: 4px;
    border: 1px solid rgb(221, 221, 221);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(51, 51, 51);
    outline: none;
    box-sizing: border-box;
}
.findinfospace{
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    margin-top: 10px;
    font-size: 13px;
}
.findinfo{
    color: rgb(51, 51, 51);
    cursor: pointer;
}
.sideinfo{
    width: 1px;
    height: 10px;
    margin: 3px 6px 0px;
    background-color: rgb(51, 51, 51);
}
.loginspace{
    margin-top: 28px;
}
.loginbutton{
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 54px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: rgb(95, 0, 128);
    border: 0px none;
}
.buttontext{display: inline-block;
    font-size: 16px;
    font-weight: 500;
}
.loginspace button:last-of-type{
    margin-top: 10px;
}
.joinbutton{
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 54px;
    border-radius: 3px;
    color: rgb(95, 0, 128);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(95, 0, 128);
}