button {
    background-color: #fff;
    border: none;
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
}
.main-frame {
    position: relative;
    min-width: 1050px;
}
.my-information-list-frame {
    width: 100%;
    padding: 50px 0px;
    margin-bottom: -20px;
    background-color: rgb(247, 247, 247);
}
.my-information-list-area {
    display: grid;
    grid-template-columns: 372px auto;
    width: 1050px;
    margin: 0px auto;
    gap: 4px;
}
.my-information-list-area-no1 {
    padding: 30px 30px 26px;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgb(255, 255, 255);
}
.my-name-area {
    display: flex;
}
.tier {
    min-width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    font-weight: normal;
    font-size: 14px;
    border: 1px solid rgb(148, 146, 150);
    background-color: rgb(255, 255, 255);
    color: rgb(148, 146, 150);
}
.my-name {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    min-width: 50%;
    min-height: 48px;
    margin-left: 20px;
}
.my-name strong {
    display: block;
    overflow: hidden;
    font-weight: 500;
    font-size: 20px;
    color: rgb(51, 51, 51);
    line-height: 28px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.tier-benefits {
    display: flex;
    flex-direction: column;
}
.tier-benefits p {
    margin-top: 4px;
    font-size: 14px;
    line-height: 18px;
    color: rgb(51, 51, 51);
}
.tier-list {
    display: flex;
    justify-content: center;
}
.tier-list button {
    margin-top: 10px;
    width: 50%;
    height: 42px;
    border: 1px solid rgb(244, 244, 244);
    border-radius: 30px;
    background-color: rgb(244, 244, 244);
    font-size: 13px;
    color: rgb(51, 51, 51);
    text-align: center;
    -webkit-box-flex: 1;
    flex-grow: 1;
}
.tier-list button:last-child {
    margin-left: 10px;
}


.my-information-list-area-no2 {
    display: flex;
    column-gap: 4px;
}
.my-information-list-area-no2>div {
    flex: 1 1 0%;
    overflow: hidden;
    background: rgb(255, 255, 255);
}
.my-information-btn {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 26px 0px 30px 30px;
}
.reserves-title {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    color: rgb(51, 51, 51);
}
.reserves-value {
    font-weight: 700;
    font-size: 20px;
    color: rgb(95, 0, 128);
    margin-top: 20px;
}
.coupon-title {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    color: rgb(51, 51, 51);
}
.coupon-count {
    font-weight: 700;
    font-size: 20px;
    color: rgb(95, 0, 128);
    margin-top: 20px;
}
.my-kurly-style-title {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(51, 51, 51);
}
.registration {
    font-weight: 700;
    font-size: 20px;
    color: rgb(95, 0, 128);
    margin-top: 20px;
}
.learn-btn-area {
    flex: 1 1 0%;
    overflow: hidden;
    background: rgb(255, 255, 255);
}
.learn-btn {
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-direction: row;
    padding: 20px 30px;
}
.learn-btn-title {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(51, 51, 51);
}
.learn-btn-learn {
    font-weight: 700;
    font-size: 20px;
    color: rgb(95, 0, 128);
}
.my-information-list-ad {
    display: block;
    width: 1050px;
    overflow: hidden;
    margin: 20px auto 0px;
}
.my-information-list-ad img {
    width: 100%;
    height: 60px;
    object-fit: cover;
}
.wished-item-list-frame {
    display: flex;
    width: 1050px;
    padding: 50px 0px 80px;
    margin: 0px auto;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.my-kurly-menu-list-frame {
    width: 200px;
}
.my-kurly-menu-list-title {
    height: 75px;
    padding: 5px 0px 35px 1px;
    font-weight: 500;
    font-size: 28px;
    line-height: 35px;
    color: rgb(51, 51, 51);
    letter-spacing: -1px;
}
.my-kurly-menu-list {
    padding: 0;
    margin: 0;
    border: 1px solid rgb(242, 242, 242);
}
.my-kurly-menu-list li {
    display: list-item;
}
.my-kurly-menu-list li a {
    cursor: pointer;
    border-bottom: 1px solid rgb(242, 242, 242);
    padding: 14px 20px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 19px;
    letter-spacing: -0.3px;
    font-size: 14px;
    color: rgb(102, 102, 102);
}
.my-kurly-menu-list li a span {
    display: inline-block;
    width: 6px;
    height: 11px;
}
.help-frame {
    height: 60px;
    padding: 0px 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px 100px 100px 0px;
    background-color: rgb(250, 250, 250);
    line-height: 20px;
}
.help-title {
    display: flex;
    flex-direction: column;
    color: rgb(51, 51, 51);
}
.help-title span:first-of-type {
    font-size: 14px;
    font-weight: 500;
}
.help-title span:last-of-type {
    font-size: 12px;
}


.wish-list-frame {
    width: 820px;
}
.wish-list-title {
    display: flex;
    align-items: center;
    padding-bottom: 27px;
    border-bottom: 2px solid rgb(51, 51, 51);
}
.wish-list-title h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 48px;
    letter-spacing: -0.5px;
    color: rgb(51, 51, 51);
    margin: 0;
}
.wish-list-title span {
    padding-left: 11px;
    font-size: 14px;
    letter-spacing: -0.3px;
    color: rgb(153, 153, 153);
    line-height: 20px;
}
.wish-list-area {
    padding: 0px 20px;
}
.wish-list {
    display: flex;
    height: 128px;
    padding: 24px 0px;
    border-top: 1px solid rgb(244, 244, 244);
}
.wish-list > a {
    display: block;
    position: relative;
    width: 60px;
    height: 78px;
}
.etc-btn a{
    display: block;
    text-align: center;
    width: 104px;
    height: 36px;
    color: rgb(95, 0, 128);
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(95, 0, 128);
    border-image: initial;
}
.wish-list a img {
    position: absolute;
    background: 50% 50% / cover no-repeat;
    width: 60px;
    height: 78px;
}
.wish-list-item-information {
    width: calc(100% - 90px);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.item-name-area {
    padding: 0px 20px;
}
.item-name {
    overflow: hidden;
    word-break: break-all;
    white-space: normal;
    font-size: 16px;
    line-height: normal;
}
.item-value {
    margin-top: 6px;
    margin-right: 4px;
    line-height: 19px;
    color: rgb(51, 51, 51);
    font-size: 16px;
    font-weight: bold;
}
.etc-btn {
    display: flex;
    flex-direction: column;
}
.item-delete {
    display: block;
    text-align: center;
    overflow: hidden;
    width: 104px;
    height: 36px;
    border-radius: 4px;
    color: rgb(51, 51, 51);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(221, 221, 221);
}
.item-delete span {
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    line-height: 3;
}
.item-input {
    display: block;
    text-align: center;
    overflow: hidden;
    width: 104px;
    height: 36px;
    border-radius: 4px;
    color: rgb(95, 0, 128);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(95, 0, 128);
}
.item-input span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    line-height: 3;
}
.item-input span i {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 4px;
    top: 4px;
}