@charset "utf-8";
.allserviceform{
    position: relative;
    min-width: 1050px;
}
.marginserviceform{
    display: flex;
    width: 1050px;
    padding: 50px 0px 80px;
    margin: 0px auto;
    flex-direction: row;
    justify-content: space-between;
}
.servicespace{
    width: 200px; 
}
.servicearea{
    height: 75px;
    padding: 5px 0px 35px 1px;
    font-weight: 500;
    font-size: 28px;
    line-height: 35px;
    color: rgb(51, 51, 51);
    letter-spacing: -1px;
}
.servicetextarea{
    border: 1px solid rgb(242, 242, 242);
}
ol, ul {
    list-style-type: none;
}
.notice.active, .notice:hover{
    background-color: rgb(250, 250, 250);
    color: rgb(95, 0, 128);
    font-weight: 500;
}
.notice{
    cursor: pointer;
    border-bottom: 1px solid rgb(242, 242, 242);
    padding: 14px 20px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 19px;
    letter-spacing: -0.3px;
    font-size: 14px;
    color: rgb(102, 102, 102);
}
a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}
.notice.active > span, .notice:hover > span{
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2IiBoZWlnaHQ9IjExIiB2aWV3Qm94PSIwIDAgNiAxMSI+CiAgICA8cGF0aCBmaWxsPSIjNUYwMDgwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xIDExTDYgNS41IDEgMCAwIDEuMSA0IDUuNSAwIDkuOXoiLz4KPC9zdmc+Cg==);
}
.bracket{
    display: inline-block;
    width: 6px;
    height: 11px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2IiBoZWlnaHQ9IjExIiB2aWV3Qm94PSIwIDAgNiAxMSI+CiAgICA8cGF0aCBmaWxsPSIjOTk5IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xIDExTDYgNS41IDEgMCAwIDEuMSA0IDUuNSAwIDkuOXoiLz4KPC9zdmc+Cg==);
    background-size: cover;
    background-position: center center;
}
.helpspace{
    width: 100%;
    height: 60px;
    padding: 0px 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px 100px 100px 0px;
    background-color: rgb(250, 250, 250);
    line-height: 20px;
}
a{
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}
.helptext{
    display: flex;
    flex-direction: column;
    color: rgb(51, 51, 51);
}
.question{
    font-size: 14px;
    font-weight: 500;
}
.inquiry{
    font-size: 12px;
}
.changebracket{
    display: inline-block;
    width: 6px;
    height: 11px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2IiBoZWlnaHQ9IjExIiB2aWV3Qm94PSIwIDAgNiAxMSI+CiAgICA8cGF0aCBmaWxsPSIjNUYwMDgwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xIDExTDYgNS41IDEgMCAwIDEuMSA0IDUuNSAwIDkuOXoiLz4KPC9zdmc+Cg==);
    background-size: cover;
    background-position: center center;
}
.noticespace{
    width: 820px;
}
.noticearea{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 27px;
    justify-content: space-between;
}
.noticetextarea{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.noticetext{
    font-weight: 500;
    font-size: 24px;
    color: rgb(51, 51, 51);
    letter-spacing: -0.5px;
    line-height: 48px;
}
.noticeinfo{
    padding-left: 11px;
    font-size: 14px;
    letter-spacing: -0.3px;
    color: rgb(153, 153, 153);
    line-height: 20px;
}
.infospace{
    display: flex;
    width: 100%;
    padding: 20px 0px;
    border-bottom: 1px solid rgb(51, 51, 51);
    border-top: 2px solid rgb(51, 51, 51);
}
.infonumber{
    flex-basis: 70px;
    text-align: center;
    line-height: 20px;
    font-weight: 400;
    color: rgb(51, 51, 51);
}
.infotitle{
    flex-basis: 135px;
    text-align: center;
    line-height: 20px;
    font-weight: 400;
    color: rgb(51, 51, 51);
}
.write{
    -webkit-box-flex: 1;
    flex-grow: 1;
    text-align: center;
    line-height: 20px;
    font-weight: 400;
    color: rgb(51, 51, 51);
}
.writespace{
    display: flex;
    flex-direction: column;
}
.qnaarea{
    cursor: pointer;
}
.writearea{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(244, 244, 244);
}
.realnotice{
    text-align: center;
    padding: 20px 0px;
    color: rgb(76, 76, 76);
    flex-basis:70px;
}
.realinfo{
    text-align: center;
    padding: 20px 0px;
    color: rgb(76, 76, 76);
    flex-basis: 135px;
}
.questionarea{
    padding: 20px 0px 20px 20px;
    color: rgb(76, 76, 76);
    flex: 1 1 0%;
    text-align: left;
}
.answerarea{
	display:none;
    position: relative;
    padding: 30px 30px 30px 70px;
    text-align: left;
    color: rgb(76, 76, 76);
    white-space: pre-line;
}
.realwriter{
    text-align: center;
    padding: 20px 0px;
    color: rgb(76, 76, 76);
    flex-basis: 100px;
}
.realdate{
    text-align: center;
    padding: 20px 0px;
    flex-basis: 100px;
    color: rgb(153, 153, 153);
}
.pagespace{
    display: flex;
    justify-content: center;
    padding: 60px 0px 30px;
}
.backbutton:disabled{
    background-image: url(https://res.kurly.com/kurly/ico/2021/paging-prev-disabled.svg);
    cursor: default;
}
button[disabled], input[disabled] {
    cursor: default;
}
.backbutton{
    width: 44px;
    height: 44px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    cursor: pointer;
    background-color: transparent;
    background-image: url(https://res.kurly.com/kurly/ico/2021/paging-prev-activated.svg);
    background-repeat: no-repeat;
    background-size: cover;  
}
.pagetext{
    overflow: hidden;
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
}
.pagearea button + button{
    margin-left: 12px;
}
.nextbutton{
    width: 44px;
    height: 44px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    cursor: pointer;
    background-color: transparent;
    background-image: url(https://res.kurly.com/kurly/ico/2021/paging-next-activated.svg);
    background-repeat: no-repeat;
    background-size: cover; 
}
*, :after, :before {
    box-sizing: border-box;
    margin: 0;
}
*, :after, :before, legend, td, th {
    padding: 0;
}